*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font: 15px/1.2 Arial, Helvetica, sans-serif;
    color:white;
    background-color: #35414a;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header.container, footer.container{
    width: 100%;
}

.nav-list-items.highlighted a {
    color:#e8481d;
}
.nav-list-items a:hover {
    color:#cccccc;
    font-weight: bold;
}
/*
-----------
Header
-----------
*/

header {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding:20px 150px;
    background:#35414a;
    color: white;
    border-bottom:#e8481d solid 3px;
}

header h1 span.orange {
    color:#e8481d;
}

.nav {
    width:25%;
    padding: 10px;
}

.nav-list {
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding:0;

}

.nav-list-items a {
    text-decoration: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;

}


.nav-list-items a:hover {
    color:#cccccc;
    font-weight: bold;
}

/*
Summary Showcase
*/

.summary{
    padding:100px;
    text-align: center;
    background: url(./showcase.jpg) no-repeat 0 -210px;
}

.summary-title{
    font-size:55px;
    margin-bottom:0px;
}

.summary-text{
    font-size:20px;
    margin-bottom:0px;
}

/* 
Subscribe
*/

.subscribe{
    display: flex;
    justify-content: center;
    min-height: 100px;
    background-color: #35414a;
    padding:30px 0;
}


.subscribe-form{
    margin-left: 300px;
} 
.subscribe-title{
    font-size: 25px;
    margin:0;
}
.subscribe-email-input{
    width:250px;
    min-height:30px;
}


.subscribe-title{
}

.subscribe-btn {
    width:100px;
    height:30px;
    margin-left: 10px;
    color: white;
    background-color: #e8491d;
    border: none;
}

.details{
    display:flex;
    flex-flow: row wrap;
    padding: 50px 0;
    color:black;
    background-color: white;

}
.details > article{
    width:30%;
    margin-left:2.5%;
    text-align: center;
}

footer{
    margin-top: 50px;
    text-align: center;
    background-color: #e8491d;
    min-height: 50px;
    padding: 30px 0;

}

.footer-text{
    margin:0;
}

img {
    width:90px
}